<!DOCTYPE html>
<html ng-app = "gemStore">
  <head>
    <title>GemStore</title>
    <link rel="stylesheet" type="text/css" href="Styles/bootstrap.min.css" />
    <script type="text/javascript" src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="Scripts/app.js"></script>
  </head>
  <body ng-controller = "StoreController as store">
    <ul class="list-group">

        <li class="list-group-item" ng-repeat = "product in store.products | orderBy:'price'">
            <h1>{{product.name | uppercase}}</h1>

            <image width = "100" ng-src = "{{product.image}}" />

            <em class="pull-right">
                <h2>{{product.price | currency:'&#8377;'}}</h2>
                <button ng-show = "product.canPurchase">Add to Cart</button>
            </em>
            <section ng-controller = "PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class = "{ active: panel.isSelected(1)}">
                        <a href="" ng-click="panel.selectTab(1)" >Description</a>
                    </li>
                    <li ng-class = "{ active: panel.isSelected(2)}">
                        <a href="" ng-click="panel.selectTab(2)" >Specification</a>
                    </li>
                    <li ng-class = "{ active: panel.isSelected(3)}">
                        <a href="" ng-click="panel.selectTab(3)" >Reviews</a>
                    </li>
                </ul>

            <div class="panel" ng-show = "panel.isSelected(1)">
                <h4>Descriptions</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show = "panel.isSelected(2)">
                <h4>Specifications</h4>
                <blockquote>None yet</blockquote>
            </div>
            <div class="panel" ng-show = "panel.isSelected(3)">
              <ul>
                <h4>Reviews</h4>
                <li ng-repeat="review in product.reviews">
                  <blockquote>
                    <strong>{{review.stars}} Stars</strong>
                    {{review.body}}
                    <cite class="clearfix">—{{review.author}}</cite>
                  </blockquote>
                </li>
              </ul>
              <form name="reviewForm" class="form-group" ng-controller = "ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
                <blockquote>
                  <b>{{reviewCtrl.review.stars}} Stars</b>
                  {{reviewCtrl.review.body}}
                  <cite>By: {{reviewCtrl.review.author}}</cite>
                </blockquote>
                 <select ng-model="reviewCtrl.review.stars" class="form-control">
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                 </select>
                  <input type="textarea" ng-model="reviewCtrl.review.body" class="form-control"/>
                  <input type="email" ng-model="reviewCtrl.review.author" class="form-control"/>
                  <input type="submit" value="Submit" class="form-control"/>
              </form>
            </div>
            </section>


        </li>
      </ul>

  </body>
</html>
